/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
  position: relative;
  margin: 0 auto 0px;
  padding: 0;
  *zoom: 1;
  min-height:50px;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
  margin:auto;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
}

/* LOADER */

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
  text-align: center;
  color: #fff;
  padding-top: 10px;
  
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager {
  position:absolute;
  bottom:5px;
  width:100%;
	z-index:999;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
  text-indent: -9999px;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 3px;
  outline: 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #303988;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-controls-direction a.bx-prev {
  left: 10px;
  background-position:0 -155px;
}
.bx-wrapper .bx-controls-direction a.bx-prev:hover{
  background-position:-60px -155px;
}

.bx-wrapper .bx-controls-direction a.bx-next {
  right: 10px;
  background-position:-60px -208px; 
}
.bx-wrapper .bx-controls-direction a.bx-next:hover {
  background-position:0 -208px;
}


.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  outline: 0;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background:url(images/icon.png) no-repeat;
	z-index:999;
}


.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption .caption-text {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
  text-align: left;
}

.bx-wrapper .bx-caption .caption-text h3 {
  color: #FFFFFF;
}
/*-----------------------*/
.big-banner-home .bx-wrapper li {z-index:1;}
.big-banner-home .bx-wrapper .bx-controls-direction a {display:none;}

.small-banner-home .banner-vertical  {height:100%;}
.small-banner-home .banner-vertical .bx-wrapper {max-height:100%;}
.small-banner-home .banner-vertical img {max-height:100%;}
.small-banner-home .banner-vertical > ul {max-height:100%;}
.small-banner-home .banner-vertical > ul li {max-height:33%; padding-bottom:5%;}
.small-banner-home .banner-vertical li {padding-bottom:0px; }
.small-banner-home .banner-vertical .bx-wrapper .bx-controls-direction a{width:32px; height:32px; left:50%; margin:0 0 0 -16px;}
.small-banner-home .banner-vertical .bx-wrapper .bx-controls-direction a.bx-next{
  background-position: -63px -490px;
  top:5px;
}
.small-banner-home .banner-vertical .bx-wrapper .bx-controls-direction a.bx-next:hover{
  background-position: -63px -525px;
}
.small-banner-home .banner-vertical .bx-wrapper .bx-controls-direction a.bx-prev{
  background-position: 0px -525px;
  top:100%;
  margin-top:-37px;
}
.small-banner-home .banner-vertical .bx-wrapper .bx-controls-direction a.bx-prev:hover{
  background-position: 0px -490px;
}
/* home sections banner*/ 
.box-content-home.box01 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.box-content-home.box01 .bx-wrapper .bx-pager.bx-default-pager a.active {background-color#58538D;}
.box-content-home.box02 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.box-content-home.box02 .bx-wrapper .bx-pager.bx-default-pager a.active {background-color#E20613;}
.box-content-home.box03 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.box-content-home.box03 .bx-wrapper .bx-pager.bx-default-pager a.active {background-color#EF7E14;}
.box-content-home.box04 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.box-content-home.box04 .bx-wrapper .bx-pager.bx-default-pager a.active {background-color#C87CBD;}
.box-content-home.box05 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.box-content-home.box05 .bx-wrapper .bx-pager.bx-default-pager a.active {background-color#DDDB00;}
.box-content-home.box06 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.box-content-home.box06 .bx-wrapper .bx-pager.bx-default-pager a.active {background-color#CB8C63;}

.banner-with-title .bx-pager-tab select {display:none;}

@media only screen and (max-width: 620px) {
.bx-wrapper .bx-controls-direction a {width:32px; height:32px; margin-top:-16px;}
.bx-wrapper .bx-controls-direction a.bx-next{background-position:-61px -452px;}
.bx-wrapper .bx-controls-direction a.bx-prev{background-position:0 -412px;}
.bx-wrapper .bx-controls-direction a.bx-next:hover{background-position:0px -452px;}
.bx-wrapper .bx-controls-direction a.bx-prev:hover{background-position:-61px -412px;}
}
@media only screen and (max-width: 480px) {
  .banner-with-title .bx-pager-tab select {display:block; width:100%;}
  .box-content-home .banner-with-title .bx-pager-tab a {display:none!important;}
}

